<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .navigation-bar {
            width: 100%;
            height: 40px;
            background-color: #436283;
        }

        .navigation-bar a {
            display: block;
            font-size: 20px;
            color: white;
            text-decoration: none;
            height: 40px;
            width: 2.5rem;
            line-height: 40px;
            margin-left: 20px;
        }
    </style>
    <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
</head>
<body>
<div class="navigation-bar">
    <a href="/assignment4">Home</a>
</div>
<br/><br/>
<div>
    <button onclick="draw_scatter({{ nums }})">Draw a point chart</button>
</div>
<svg id="scatterPlot" width="800" height="600"></svg>
</body>
<script>
    function draw_scatter(nums) {
        const data = []
        for (let i = 0; i < nums.length; i++) {
            data.push({x: nums[i][0], y: nums[i][1]})
        }
        // 创建SVG容器
        var svg = d3.select("#scatterPlot");

        // 设置坐标轴范围
        var xScale = d3.scaleLinear()
            .domain([-5, 700])
            .range([0, 550]);

        var yScale = d3.scaleLinear()
            .domain([-2, 10])
            .range([550, 50]);

        // 绘制点
        svg.selectAll(".dot")
            .data(data)
            .enter()
            .append("circle")
            .attr("class", "dot")
            .attr("cx", function (d) {
                return xScale(d.x);
            })
            .attr("cy", function (d) {
                return yScale(d.y);
            })
            .attr("r", 5)
            .style("fill", "black");

        // 添加坐标轴
        var xAxis = d3.axisBottom(xScale);
        svg.append("g")
            .attr("transform", "translate(0,550)")
            .call(xAxis);

        var yAxis = d3.axisLeft(yScale);
        svg.append("g")
            .attr("transform", "translate(50,0)")
            .call(yAxis);
    }
</script>
</html>