<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .navigation-bar {
            width: 100%;
            height: 40px;
            background-color: #436283;
        }

        .navigation-bar a {
            display: block;
            font-size: 20px;
            color: white;
            text-decoration: none;
            height: 40px;
            width: 2.5rem;
            line-height: 40px;
            margin-left: 20px;
        }
    </style>
    <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
</head>
<body>
<div class="navigation-bar">
    <a href="/assignment4">Home</a>
</div>
<br/><br/>
<div>The number of earthquakes for magnitude below 1 is {{ nums[0] }}</div>
<div>The number of earthquakes for magnitude 1 to 2 is {{ nums[1] }}</div>
<div>The number of earthquakes for magnitude 2 to 3 is {{ nums[2] }}</div>
<div>The number of earthquakes for magnitude up to 5 is {{ nums[3] }}</div>
<div>
    <button onclick="draw_pie({{ nums }})">Draw a pie chart</button>
</div>
<svg id="pie-chart"></svg>
</body>
<script>
    function draw_pie(nums) {
        var data = [{label: "below 1", value: nums[0]},
            {label: "1 to 2", value: nums[1]},
            {label: "2 to 3", value: nums[2]},
            {label: "up to 5", value: nums[3]}]
        var width = 400;
        var height = 400;

        var radius = Math.min(width, height) / 2;

        var color = d3.scaleOrdinal(d3.schemeCategory10);

        var pie = d3.pie()
            .value(function (d) {
                return d.value;
            });


        var arc = d3.arc()
            .innerRadius(0)
            .outerRadius(radius);


        var svg = d3.select("#pie-chart")
            .attr("width", width)
            .attr("height", height)
            .append("g")
            .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");


        var arcs = svg.selectAll("arc")
            .data(pie(data))
            .enter()
            .append("g");

        arcs.append("path")
            .attr("d", arc)
            .attr("fill", function (d) {
                return color(d.data.label);
            });

        arcs.append("text")
            .attr("transform", function (d) {
                return "translate(" + arc.centroid(d) + ")";
            })
            .attr("text-anchor", "middle")
            .text(function (d) {
                return d.data.label;
            });
    }
</script>
</html>