<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .navigation-bar {
            width: 100%;
            height: 40px;
            background-color: #436283;
        }

        .navigation-bar a {
            display: block;
            font-size: 20px;
            color: white;
            text-decoration: none;
            height: 40px;
            width: 2.5rem;
            line-height: 40px;
            margin-left: 20px;
        }

        .form-con {
            margin-top: 20px;
        }
    </style>
    <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
</head>
<body>
<div class="navigation-bar">
    <a href="/">Home</a>
</div>
<div class="form-con">
    Tuples:
    <input type="text" name="tuple" id="tuple"/><br/>
    <button onclick="draw_pie()">draw a pie</button>
</div>
<div>example input: a10,b20,c30</div>
<svg id="pie-chart"></svg>
<script>
    function draw_pie() {
        var tuple = document.getElementById("tuple").value;
        var data = tuple.split(",") // 使用逗号分隔字符串，并得到子字符串数组
                .map(item => ({ label: item.match(/[a-zA-Z]/g).join(""), value: item.match(/\d/g).join("") }));
        var width = 400;
        var height = 400;

        var radius = Math.min(width, height) / 2;

        var color = d3.scaleOrdinal(d3.schemeCategory10);

        var pie = d3.pie()
            .value(function (d) {
                return d.value;
            });


        var arc = d3.arc()
            .innerRadius(0)
            .outerRadius(radius);


        var svg = d3.select("#pie-chart")
            .attr("width", width)
            .attr("height", height)
            .append("g")
            .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");


        var arcs = svg.selectAll("arc")
            .data(pie(data))
            .enter()
            .append("g");

        arcs.append("path")
            .attr("d", arc)
            .attr("fill", function (d) {
                return color(d.data.label);
            });

        arcs.append("text")
            .attr("transform", function (d) {
                return "translate(" + arc.centroid(d) + ")";
            })
            .attr("text-anchor", "middle")
            .text(function (d) {
                return d.data.label;
            });

    }
</script>
</body>
</html>